@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat&display=swap');
/*
font-family: 'Fugaz One', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(2392614.jpg);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-size: cover;

}

h1, h2, h3 {
    font-family: 'Fugaz One', sans-serif;
}

header {

}

.content-column {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

section {
    width: 100%;
}

#hero {
    color: white;
    font-size: 200%;
    height: 700px;
    line-height: 115%;
}

#hero-action {
    padding: 20% 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    width: 50%;
}

#cards {
    background-color: white;
    padding: 100px 0 0 0;
}
.cards {
    display: flex;
    flex-wrap: nowrap;
}
.card {
    
    width: 30%;
}

#services {
    background-color: cadetblue;
}

footer {
    background-color: darkcyan;
}